body{
    background-color: #222222;
}
#content {
    color: #dddddd;
    background-color: #333333 ;
}
    
* {
    color: #dddddd;
}
a {
    color: #dddddd;
}
.bouton {
    background-color: #dddddd;
    color: #222222;
}
.bouton:hover{
    color: #dddddd;
    background-color: #222222;
}

.form-input,.form-textarea {
    color: #dddddd;
    background-color: #222222;
    border: 2px solid #ccc;
}
.form-button:hover{
    background-color: #ccc ;
    color: #222222;
}


.back-top{
    background-color: #ccc;
    color: #222222;
}

.back-top:hover{
    border: 2px solid whitesmoke;
}